name: Publish Any Commit

permissions:
    contents: read

on:
    pull_request:
    push:
        branches:
            - '**'
        tags:
            - '!**'

jobs:
    pkg-publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .node-version
                  cache: pnpm
                  cache-dependency-path: pnpm-lock.yaml
                  registry-url: 'https://registry.npmjs.org'
            - run: corepack enable

            - name: Install dependencies
              run: pnpm install

            - name: Build packages
              run: pnpm run build:all

            - name: Publish preview packages
              run:
                  pnpm dlx pkg-pr-new publish --packageManager=npm --pnpm './packages/server' './packages/client'
                  './packages/middleware/express' './packages/middleware/hono' './packages/middleware/node'
