name: Publish Any Commit

permissions:
    contents: read

on:
    pull_request:
    push:
        branches:
            - '**'
        tags:
            - '!**'

jobs:
    pkg-publish:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: ./.github/actions/setup-node-pnpm
              with:
                  registry-url: 'https://registry.npmjs.org'

            - name: Build packages
              run: pnpm run build:all

            - name: Publish preview packages
              run:
                  pnpm dlx pkg-pr-new publish --packageManager=npm --pnpm './packages/server' './packages/client'
                  './packages/middleware/express' './packages/middleware/hono' './packages/middleware/node'
