name: Release

permissions:
    contents: write
    pull-requests: write

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version-file: .node-version
                  cache: pnpm
                  cache-dependency-path: pnpm-lock.yaml
                  registry-url: 'https://registry.npmjs.org'
            - run: corepack enable

            - name: Install dependencies
              run: pnpm install

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  publish: pnpm run build:all && pnpm changeset publish
              env:
                  GITHUB_TOKEN: ${{ github.token }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
